@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
 body{
  font-family: "Lato", sans serif;
  background-color: #f5f5f5;
  padding: 0;
  margin: 10px 60px;
  color: #000000;
 }
 
 nav{
	 position: sticky;
	 top: 0;
	 background-color: #f5f5f5;
	 padding: 10px 0px;
	 margin-left: calc(50% - 50vw);
	 margin-right: calc(50% - 50vw);
 }

 nav .onglets a{
     font-family: 'Montserrat', sans-serif;
     font-weight: 800;
     font-size: 20px;
     text-transform: uppercase;
     color: #4a4a4a;
     margin-right: 40px;
	 text-decoration: none;
 }

.marg{
	margin-left: 60px
}

.banniere {
  display: flex;
  align-items: center;
}

.logo-lien {
  margin-left: auto;   
}


.logo-lien img {
  height: auto; 
  width: 20vh;   
  display: block;
  mix-blend-mode: multiply;
  margin-right: 7vh;
}

.photos{
	display: flex;
    flex-wrap: wrap;      
    justify-content: flex-start;
    gap: 40px; 
}

.photos img{
	width: min(425px, 100%);
    height: auto;
    display: block;
}

.bandeau{
	margin-bottom: 40px;
	width: 100vw;
    height: auto;
    display: block;
	margin-left: calc(50% - 50vw);
}
    
.posters {
    display: flex;
    flex-wrap: wrap;      
    justify-content: flex-start;
    gap: 40px;           
}

.posters img {
    width: min(300px, 100%);
    height: auto;
    display: block;
}

.image{
    display: flex;
    flex-wrap: wrap;      
    justify-content: flex-start;
    gap: 40px;
}

.image img{
    width: min(300px, 100%);
    height: auto;
    display: block;
}

.titre{
     font-family: 'Montserrat', sans-serif;
     color: #4a4a4a;
     font-weight: 900;
     font-size: 25px;
     display: flex;
     text-transform: uppercase;
}

.accueil {
    display: flex;
    gap: 30px;

    overflow-x: auto;     
    overflow-y: hidden;

    flex-wrap: nowrap;     

    padding: 20px;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.accueil::-webkit-scrollbar {
    display: none;
}

.acueil {
    flex: 0 0 auto;
    text-decoration: none;        
}

.acueil img {
    width: 300px;
    height: auto;
    object-fit: cover;
    display: block;
}

.acueil p {
    margin-top: 20px;
    font-size: 18px;
    margin-left: 5px;
    font-family: 'Montserrat', sans-serif;
    color: #383535;
    font-weight: 550;
}

.archi {
    position: relative;
    width: 410px;
    max-width: 90%;
    aspect-ratio: 3 / 2;
    margin: 10px;
    margin-bottom: 70px;
}

.archi img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    transition: opacity 0.4s;
}

.archi img.active {
    opacity: 1;
}

.archi button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    z-index: 1;

    border: none;
    background: none;
    cursor: pointer;

    font-size: 40px;
}

.archit{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.dessin {
    position: relative;
    max-width: 90%;
    width: min(300px, 100%);
    max-width: 90%;
    height: auto;
    display: block;
}

.dessin img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    transition: opacity 0.4s;
}

.dessin img.active {
    opacity: 1;
}

.dessin button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    z-index: 1;

    border: none;
    background: none;
    cursor: pointer;

    font-size: 40px;

    color: #ffffff;
}